<nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <p src="" alt="" width="50" height="40" class="d-inline-block align-text-top"> Rutas Orenses
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['quienessomos']" routerLinkActive="active">
                        <p src="/assets/img/bati.png" alt="Logo" width="30" height="25" class="d-inline-block align-text-top"> ¿Quienes Somos?
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['rutas']" routerLinkActive="active">
                        <p src="/assets/img/bati.png" alt="Logo" width="30" height="25" class="d-inline-block align-text-top"> Rutas
                    </a>
                </li>
            </ul>
            <li class="nav-item">
                <div class="d-flex" role="search">
                    <input #busquedaInput class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button (click)="encontrarRuta(busquedaInput.value); busquedaInput.value=''" class="btn btn-outline-success" type="submit">Search</button>

                </div>

            </li>

        </div>
    </div>
</nav>