<section class="info">
    <h1 style="padding-bottom: 20px;">Rutas <small>Orenses </small></h1>
    <div class="col animated fadeIn fast" *ngFor="let Rutas of rutas; let i=index">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{Rutas.ciuorigen}}</h5>
                        <p class="card-text" style="text-align: justify;">{{Rutas.ciudestino}}</p>
                        <p class="card-text"><small class="text-body-secondary">{{Rutas.preruta}} </small></p>
                        <p class="card-text"><small class="text-body-secondary">{{Rutas.descripcion}} </small></p>
                        <p class="card-text"><small class="text-body-secondary">{{Rutas.tipo}} </small></p>
                        <button (click)="VerRuta(i)" type="button" class="btn btn-primary" style="padding-left: 15px; padding-right: 15px;"> Ver más... </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div>

</div>